body{
    background:#FFFDF8;
    font-family:Arial, sans-serif;
}

.navbar{
    background:#8B0000;
}

.navbar-brand{
    font-size:28px;
}

.hero{

    background:linear-gradient(rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url("/static/images/banner.jpg");

    background-size:cover;
    background-position:center;

    color:white;

    padding:120px 0;

}

.hero h1{

    font-size:60px;
    font-weight:bold;

}

.hero h3{

    color:#FFD700;

    margin-bottom:20px;

}

.card{

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}