{% extends "base.html" %}

{% block title %}
Pragati Enterprises
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container text-center">

        <h1>Pragati Enterprises</h1>

        <h3>Fashion for Every Generation</h3>

        <p>
            Discover elegant sarees, trendy kurtis, stylish jeans and beautiful kids wear.
        </p>

        <a href="#products" class="btn btn-warning btn-lg">
            Shop Now
        </a>

    </div>

</section>

<section id="products" class="container py-5">

    <h2 class="text-center mb-5">
        New Arrivals
    </h2>

    <div class="row">

        {% for product in products %}

        <div class="col-md-4 mb-4">

            <div class="card h-100 shadow">

                <img
                src="{{ url_for('static', filename='uploads/' + product.image) }}"
                class="card-img-top"
                height="320"
                style="object-fit:cover;">

                <div class="card-body">

                    <h4>{{ product.name }}</h4>

                    <p>{{ product.category }}</p>

                    <h5>₹ {{ product.price }}</h5>

                    <a href="#" class="btn btn-danger w-100">
                        View Details
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}