{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container py-5" style="max-width:500px;">

    <h2 class="text-center mb-4">Login</h2>

    <form method="POST">

        <div class="mb-3">
            <label>Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                required>
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                required>
        </div>

        <div class="d-grid">
            <button class="btn btn-danger">
                Login
            </button>
        </div>

    </form>

    <div class="text-center mt-3">
        Don't have an account?
        <a href="{{ url_for('register') }}">Register</a>
    </div>

</div>

{% endblock %}