{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row">

        <div class="col-md-6">

            <img src="{{ url_for('static', filename='uploads/' + product.image) }}"
                 class="img-fluid rounded shadow">

        </div>

        <div class="col-md-6">

            <h1>{{ product.name }}</h1>

            <p class="text-muted">{{ product.category }}</p>

            <h2 class="text-danger">₹ {{ product.price }}</h2>

            <hr>

            <h5>Description</h5>

            <p>{{ product.description }}</p>

            <h5>Stock Available</h5>

            <p>{{ product.stock }}</p>

            <div class="mt-4">

                <a href="{{ url_for('add_to_cart', id=product.id) }}"
   class="btn btn-success btn-lg">
    Add to Cart
</a>

                <button class="btn btn-warning btn-lg">
                    Buy Now
                </button>

            </div>

        </div>

    </div>

</div>

{% endblock %}